<div>
    <h1>Marca: {{product.name}}</h1>
    <h2>Modelo: {{product.model}}</h2>    
    <h4>{{product.description}}</h4>
    <p>valor: R${{product.value}}</p>
    <p>Cor: {{product.color}}</p>
    <p>Qauntidade em estoque: {{product.estoq}}</p>
</div>

<a href="/initPage">Voltar</a>
