<div>
    <hr>
    <h1>Marca: {{this.name}}</h1>
    <h2>Modelo: {{this.model}}</h2>    
    <h4>{{this.description}}</h4>
    <p>valor: R${{this.value}}</p>
    <p>Cor: {{this.color}}</p>
    <p>Qauntidade em estoque: {{this.estoq}}</p>
    <a href="/products/{{this.id}}">Confira</a>
    <hr>
</div>